.img {
    height: 1148px;
    width:2048px;
}

.back{
    width: 1940px;
    height: 1488px;
    background-color: #00817b;
    color: #fff;
    border: 1px solid #00817b;
}
table{
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    text-align: center;
    position: static;
    border: 1px solid #004381;
    color: #003c81;
    width: 100%;
}
.th {
    padding: 10px; 
    border: 1px solid #A9E2CC;
}
.td {
    font-size: 0.8em;
    padding: 5px 7px;
    border: 1px solid #A9E2CC;
}